.3bagian-tambahan {
  width:1170px;
  margin:25px 20px;
}

.3tulisan {
  text-align:center;
}

.3list-barang {
  float:left;
  width: 25%
}

.3list-barang img{
  margin: 0 auto;
  width:250px;
  height:250px;
}

.barang {
  display:inline-block;
  margin: 0 auto;
  background-color:black;
  font-size:15px;
  text-align:center;
  color:white;
}

.barang:hover{
  opacity:0.5
}
