body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.bagian-tambahan {
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.heading-tambahan {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.koleksi-list {
  float: left;
  width: 25%;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 20px;
  color: #b3aeb5;
  background-color:gray;
  height:40px;
  padding-top:15px;
}

.text-contents:hover {
  opacity:0.1;
}
